@keyframes leftRight {
  from {
    margin-left: -3%;
  }

  to {
    margin-left: 3%;
  }
}

@keyframes rightLeft {
  from {
    margin-right: -3%;
  }

  to {
    margin-right: 3%;
  }
}

@keyframes up {
  from {
    top: 50%;
  }

  to {
    top: -10%;
  }
}

@keyframes up2 {
  from {
    top: 60%;
  }

  to {
    top: 0%;
  }
}
