@import './color.tools.scss';

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.underlign {
  display: inline-block;
}

.underlign:after {
  content: '';
  position: relative;
  bottom: 4px;
  width: 0px;
  height: 0.125rem;
  display: block;
  background: $headerFooterColor;
  transition: 200ms;
}

.underlign:hover:after {
  width: 100%;
}

.no-events {
  pointer-events: none;
}
