@import './base.css';
@import './class.tools.scss';
@import './animation.tools.scss';

#app {
  font-weight: normal;
  width: 100%;

  // cursor:
  //   url('./cursor.svg') 20 20,
  //   default;
  main {
    a {
      text-decoration: none;
      color: $color;

      &:hover,
      &:active,
      &:focus {
        color: $color !important;
      }
    }

    p,
    h1,
    h2,
    h3,
    h4,
    span {
      color: $color !important;
    }

    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 3rem;
    }
    h4 {
      font-size: 1.5rem;
    }
  }

  header,
  footer {
    a {
      text-decoration: none;
      color: $headerFooterColor !important;

      &:hover,
      &:active,
      &:focus {
        color: $headerFooterColor !important;
      }
    }

    p,
    h1,
    h2,
    h3,
    h4,
    span {
      color: $headerFooterColor !important;
    }
  }

  dialog:-internal-dialog-in-top-layer::backdrop {
    width: 110vw;
    height: 110vh;
    transform: translate(-5vw, -5vh);
    pointer-events: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0px;
  }

  :focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
  }
}
