@import './base.css';
@import './class.tools.scss';
@import './animation.tools.scss';

#app {
  font-weight: normal;
  width: 100%;

  // cursor:
  //   url('./cursor.svg') 20 20,
  //   default;
  main {
    a {
      text-decoration: none;
      color: $color;

      &:hover,
      &:active,
      &:focus {
        color: $color !important;
      }
    }

    p,
    h1,
    h2,
    h3,
    h4,
    span {
      color: $color !important;
    }

    h1 {
      font-size: 5vw;
    }
  }

  header,
  footer {
    a {
      text-decoration: none;
      color: $headerFooterColor !important;

      &:hover,
      &:active,
      &:focus {
        color: $headerFooterColor !important;
      }
    }

    p,
    h1,
    h2,
    h3,
    h4,
    span {
      color: $headerFooterColor !important;
    }
  }
}
