@import './base.css';
@import './class.tools.scss';
@import './animation.tools.scss';

#app {
  font-weight: normal;
  width: 100%;

  a {
    border: none !important;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      border: none !important;
      text-decoration: none;
    }

    i {
      transition: font-size ease-in-out 0.07s;
      font-size: 1.5rem;
    }
  }

  .color {
    background-color: $bg-color !important;

    &a,
    a {
      color: $color !important;

      &:hover,
      &:active,
      &:focus {
        color: $color !important;
      }
    }

    p,
    h1,
    h2,
    h3,
    h4,
    span {
      color: $color !important;
    }
  }

  .inverse-color {
    background-color: $bg-color-inverse;

    &a,
    a {
      color: $color-inverse !important;

      &:hover,
      &:active,
      &:focus {
        color: $color-inverse !important;
      }
    }

    p,
    h1,
    h2,
    h3,
    h4,
    span {
      color: $color-inverse !important;
    }
  }

  main {
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 3rem;
    }
    h4 {
      font-size: 1.5rem;
    }
  }

  :focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
  }
}
