@import './base.css';
@import './class.tools.scss';
@import './animation.tools.scss';

#app {
  font-weight: normal;
  width: 100%;

  background-color: $bg-color !important;
  a {
    text-decoration: none;
    color: $color !important;

    &:hover,
    &:active,
    &:focus {
      color: $color !important;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4,
  span {
    color: $color !important;
  }

  .inverse-color {
    background-color: $bg-color-inverse;

    a {
      text-decoration: none;
      color: $color-inverse !important;

      &:hover,
      &:active,
      &:focus {
        color: $color-inverse !important;
      }
    }

    p,
    h1,
    h2,
    h3,
    h4,
    span {
      color: $color-inverse !important;
    }
  }

  main {
    background-color: $bg-color !important;

    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 3rem;
    }
    h4 {
      font-size: 1.5rem;
    }
  }

  dialog:-internal-dialog-in-top-layer::backdrop {
    width: 110vw;
    height: 110vh;
    transform: translate(-5vw, -5vh);
    pointer-events: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0px;
  }

  :focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
  }
}
